:root {
  --f-a: cubic-bezier(0.075, 0.820, 0.165, 1.000);
  --user-color: rgb(76, 194, 255);
  --user-view-bg-color: rgba(75, 75, 75, 0.2);
}


html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
  line-height: 1;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;

}

@font-face {
  font-family: 'sfi';
  src: url("./Segoe\ Fluent\ Icons.ttf");

}

.sfi {
  font-family: "Segoe MDL2 Assets";
}